<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
  <head>
    <title></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <br />
    <style type="text/css">
          <!--
      .page:last-of-type {
                         margin-bottom: -2px;
                 }
          	p {margin: 0; padding: 0;}	.ft10{font-size:13px;font-family:Times;color:#35405a;}
          	.ft11{font-size:10px;font-family:Times;color:#58627a;}
          	.ft12{font-size:13px;font-family:Times;color:#212121;}
          	.ft13{font-size:28px;font-family:Times;color:#ffdd00;}
          	.ft14{font-size:19px;font-family:Times;color:#000000;}
          	.ft15{font-size:16px;font-family:Times;color:#888888;}
          	.ft16{font-size:10px;font-family:Times;color:#000000;}
          	.ft17{font-size:10px;font-family:Times;color:#32cd32;}
          	.ft18{font-size:16px;font-family:Times;color:#ffffff;}
          	.ft19{font-size:8px;font-family:Times;color:#000000;}
          	.ft110{font-size:10px;font-family:Times;color:#0064d2;}
          	.ft111{font-size:8px;font-family:Times;color:#888888;}
          	.ft112{font-size:10px;font-family:Times;color:#888888;}
          	.ft113{font-size:13px;font-family:Times;color:#000000;}
          	.ft114{font-size:19px;font-family:Times;color:#0064d2;}
          	.ft115{font-size:10px;line-height:21px;font-family:Times;color:#58627a;}
          	.ft116{font-size:10px;line-height:24px;font-family:Times;color:#58627a;}
          	.ft117{font-size:10px;line-height:16px;font-family:Times;color:#000000;}

      -->
    </style>
  </head>
  <body style="margin: 0" bgcolor="#A0A0A0" vlink="blue" link="blue">
    <div
      id="page1-div"
      style="position: relative; width: 892px; height: 1263px; margin-bottom: 0"
      class="page"
    >
      <img
        width="892"
        height="1263"
        src="<%= background %>"
        alt="background image"
      />
      <p
        style="position: absolute; top: 1156px; left: 36px; white-space: nowrap"
        class="ft10"
      >
        <b>PT&#160;Global&#160;Tiket&#160;Network</b>
      </p>
      <p
        style="position: absolute; top: 1184px; left: 36px; white-space: nowrap"
        class="ft115"
      >
        Jl.&#160;Ks.&#160;Tubun&#160;No.85A,&#160;RT.2/RW.7,&#160;Slipi,&#160;Kec.&#160;Palmerah,&#160;Kota&#160;Jakarta&#160;<br />Barat,&#160;Daerah&#160;Khusus&#160;Ibukota&#160;Jakarta,&#160;11410
      </p>
      <p
        style="
          position: absolute;
          top: 1186px;
          left: 498px;
          white-space: nowrap;
        "
        class="ft116"
      >
        +62 804 1500 878 / +62 213 9730 888<br />cs@tiket.com
      </p>
      <p
        style="
          position: absolute;
          top: 1186px;
          left: 740px;
          white-space: nowrap;
        "
        class="ft11"
      >
        +62 858 11500 888
      </p>
      <p
        style="
          position: absolute;
          top: 1156px;
          left: 477px;
          white-space: nowrap;
        "
        class="ft10"
      >
        <b>Contact Customer Care</b>
      </p>
      <p
        style="position: absolute; top: 24px; left: 673px; white-space: nowrap"
        class="ft12"
      >
        Kode Booking Anda
      </p>
      <p
        style="position: absolute; top: 46px; left: 684px; white-space: nowrap"
        class="ft13"
      >
        <b>FRFBFG</b>
      </p>
      <p
        style="position: absolute; top: 139px; left: 25px; white-space: nowrap"
        class="ft14"
      >
        Rencana Penerbangan
      </p>
      <p
        style="position: absolute; top: 163px; left: 24px; white-space: nowrap"
        class="ft15"
      >
        Order ID : 1013845825
      </p>
      <p
        style="position: absolute; top: 143px; left: 285px; white-space: nowrap"
        class="ft16"
      >
        Perlihatkan E-Tiket dan&#160;
      </p>
      <p
        style="position: absolute; top: 155px; left: 285px; white-space: nowrap"
        class="ft16"
      >
        Identitas valid saat Check-In
      </p>
      <p
        style="position: absolute; top: 143px; left: 513px; white-space: nowrap"
        class="ft16"
      >
        Check-In paling lambat 90&#160;
      </p>
      <p
        style="position: absolute; top: 155px; left: 513px; white-space: nowrap"
        class="ft16"
      >
        menit sebelum keberangkatan
      </p>
      <p
        style="position: absolute; top: 143px; left: 732px; white-space: nowrap"
        class="ft16"
      >
        Waktu tertera adalah&#160;
      </p>
      <p
        style="position: absolute; top: 155px; left: 732px; white-space: nowrap"
        class="ft16"
      >
        waktu bandara setempat
      </p>
      <p
        style="position: absolute; top: 194px; left: 33px; white-space: nowrap"
        class="ft17"
      >
        • Gratis Gift Voucher 70k untuk Diskon Car Transfer&#160;
      </p>
      <p
        style="position: absolute; top: 244px; left: 48px; white-space: nowrap"
        class="ft18"
      >
        Penerbangan Pergi | Sabtu, 04 Juni 2022
      </p>
      <p
        style="position: absolute; top: 292px; left: 51px; white-space: nowrap"
        class="ft19"
      >
        Airline Booking Code (PNR)
      </p>
      <p
        style="position: absolute; top: 289px; left: 197px; white-space: nowrap"
        class="ft110"
      >
        <b>ZXRGBS</b>
      </p>
      <p
        style="position: absolute; top: 310px; left: 134px; white-space: nowrap"
        class="ft117"
      >
        Super Air Jet<br />IU 3305
      </p>
      <p
        style="position: absolute; top: 350px; left: 134px; white-space: nowrap"
        class="ft111"
      >
        Ekonomi
      </p>
      <p
        style="position: absolute; top: 290px; left: 315px; white-space: nowrap"
        class="ft112"
      >
        04 Juni 2022
      </p>
      <p
        style="position: absolute; top: 307px; left: 315px; white-space: nowrap"
        class="ft113"
      >
        16:45
      </p>
      <p
        style="position: absolute; top: 331px; left: 315px; white-space: nowrap"
        class="ft16"
      >
        Medan (KNO)
      </p>
      <p
        style="position: absolute; top: 350px; left: 315px; white-space: nowrap"
        class="ft111"
      >
        Kuala Namu
      </p>
      <p
        style="position: absolute; top: 310px; left: 517px; white-space: nowrap"
        class="ft19"
      >
        2j 20m
      </p>
      <p
        style="position: absolute; top: 290px; left: 682px; white-space: nowrap"
        class="ft112"
      >
        04 Juni 2022
      </p>
      <p
        style="position: absolute; top: 307px; left: 713px; white-space: nowrap"
        class="ft113"
      >
        19:05
      </p>
      <p
        style="position: absolute; top: 331px; left: 677px; white-space: nowrap"
        class="ft16"
      >
        Jakarta (CGK)
      </p>
      <p
        style="position: absolute; top: 350px; left: 676px; white-space: nowrap"
        class="ft111"
      >
        Soekarno Hatta
      </p>
      <p
        style="position: absolute; top: 402px; left: 24px; white-space: nowrap"
        class="ft14"
      >
        Detail Penumpang
      </p>
      <p
        style="position: absolute; top: 455px; left: 48px; white-space: nowrap"
        class="ft16"
      >
        No.
      </p>
      <p
        style="position: absolute; top: 455px; left: 83px; white-space: nowrap"
        class="ft16"
      >
        Penumpang
      </p>
      <p
        style="position: absolute; top: 455px; left: 359px; white-space: nowrap"
        class="ft16"
      >
        Tipe Tiket
      </p>
      <p
        style="position: absolute; top: 455px; left: 443px; white-space: nowrap"
        class="ft16"
      >
        No. Tiket
      </p>
      <p
        style="position: absolute; top: 455px; left: 599px; white-space: nowrap"
        class="ft16"
      >
        No. Penerbangan&#160;Fasilitas
      </p>
      <p
        style="position: absolute; top: 494px; left: 48px; white-space: nowrap"
        class="ft16"
      >
        1
      </p>
      <p
        style="position: absolute; top: 494px; left: 83px; white-space: nowrap"
        class="ft16"
      >
        <%= name %>
      </p>
      <p
        style="position: absolute; top: 494px; left: 359px; white-space: nowrap"
        class="ft16"
      >
        Dewasa
      </p>
      <p
        style="position: absolute; top: 494px; left: 599px; white-space: nowrap"
        class="ft16"
      >
        IU 3305
      </p>
      <p
        style="position: absolute; top: 494px; left: 728px; white-space: nowrap"
        class="ft16"
      >
        20kg
      </p>
      <p
        style="position: absolute; top: 494px; left: 443px; white-space: nowrap"
        class="ft16"
      >
        9902196932999
      </p>
      <p
        style="position: absolute; top: 94px; left: 24px; white-space: nowrap"
        class="ft114"
      >
        E-tiket Pesawat
      </p>
    </div>
  </body>
</html>
